*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  //global font set for 1rem
  font-size: 62.5%;

  @include respond(tabland) {
    font-size: 56.25%;
  }

  @include respond(tab) {
    font-size: 50%;
  }

  // @include respond(phone){
  //     font-size: 30%;
  // }

  @include respond(bigdesktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  // overflow: hidden;
}
