.complete {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 20px;
  color: #beee62;
}

.complete .active {
  visibility: visible;
}

.personalAlert {
  font-size: 0.77rem;
  color: floralwhite;
  background-color: darkslategrey;
  padding: 0.36rem;
  border-radius: 3px;
  display: none;
}
