.container {
  width: 100%;
  height: 100%;
  background: rgb(1, 27, 51);
  background: linear-gradient(
    90deg,
    rgba(1, 27, 51, 1) 0%,
    rgba(1, 27, 51, 1) 48%,
    rgba(250, 250, 250, 1) 48%,
    rgba(250, 250, 250, 1) 100%
  );
  color: $color-grey-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.7rem;

  @include respond(phone) {
    background: $color-light-grey;
  }
}

.logo {
  height: 2.6rem;
  margin-left: 3rem;

  &-box {
    margin-bottom: 1.4rem;
  }
}

.content {
  flex: 0 0 48%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
    flex: 0 0 0%;
    display: none;
  }

  &__box {
    color: $color-light-grey;
    font-size: 1.6rem;
    width: 55%;

    @include respond(tabmed) {
      width: 68%;
    }
    @include respond(bigphone) {
      width: 84%;
    }
  }

  &__text {
    text-align: left;
    color: $dark-grey-2;
    margin-bottom: 2rem;
    &--h1 {
      font-size: 1.7rem;
      font-weight: 600;

      span {
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background-color: $color-primary;
        color: $color-light-grey;
        padding: 0.5rem;
        margin-right: 1rem;
        overflow: hidden;
        position: relative;

        &::before {
          content: "\2713";
          position: absolute;
          top: 40%;
          left: 67%;
          transform: translate(-50%, -50%);
          background-color: $color-primary;
          color: #fff;
          font-size: 1.4rem;
          font-weight: 750;
          width: 100%;
          height: 100%;
        }
      }
    }
    &--p {
      font-size: 1.5rem;
      margin-left: 3rem;
    }
  }
}

.form-box {
  flex: 0 0 51%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
    flex: 0 0 100%;
  }
}

form {
  width: 55%;

  @include respond(tabmed) {
    width: 70%;
  }
  @include respond(bigphone) {
    width: 87%;
  }

  @include respond(phone) {
    width: 95%;
  }
}
